td {
	width: 200px;
	height: 200px;
	background-image: url("no_mole.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#moleholes {
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	cursor: url("cursor.png"), auto;
	border-collapse: collapse;
}

.mole {
	background-image: url("mole_up.jpg");
}